.board-info {
    margin-bottom: 1.2rem;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 0.9rem;
    letter-spacing: 2.4px;
    color: var(--color-medium-grey);
    display: flex;
    align-items: center;
  }
  
  .circle-small{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: #49c4e5;
    margin-right: 0.5rem;
  } 
