.addbutton {
  padding: 1rem 1.5rem;
  background-color: var(--color-main-purple);
  color: var(--color-white-light);
  font-size: 0.9rem;
  border-radius: 1.5rem;
  font-style: normal;
  line-height: 1.2rem;
  margin: auto;
}
.add-subtask {
  width: 100%;
  padding: 0.8rem;
  background-color: var(--color-main-purple-rgba);
  color: var(--color-main-purple);
  font-size: 0.8rem;
  border-radius: 1.5rem;
}

.add-subtask.purple {
    color: var(--color-white-light);
    background-color: var(--color-main-purple);
  }
  