@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset CSS */
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px (assuming browser default font-size is 16px) */
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem; /* 16px */
}
